/* @media screen and (min-width: 900px) {  */
html{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: rgb(255,254,252);
    background: linear-gradient(180deg, rgba(255,254,252,1) 0%, rgba(251,240,215,1) 100%);
}

body{
max-width: 1200px;
max-height: 750px;
}

header{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.banner{

}

main{
list-style-type: none;
display: flex;
flex-direction: column;
}

.collage{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;    
}

.collage #column1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.collage .overalls{

    flex: none;
    order: 0;
    flex-grow: 0;  
}

.collage #column2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 14px;
}

.collage #column2 #row1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
}   

.collage #column2 #row2{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 23px;
}  

.collage .house{
    flex: none;
    order: 0;
    flex-grow: 0;
    }

.collage .squash{
    flex: none;
    order: 0;
    flex-grow: 0;
}

.collage .garden{
    flex: none;
    order: 1;
    flex-grow: 0;
}

.collage #column3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;  
}

.collage .chickens{
    flex: none;
    order: 0;
    flex-grow: 0;
}

footer{
    display: flex;
    justify-content: center;
}

/* }

@media screen and (max-width:899px){
    
} */