/* @media screen and (min-width: 900px) {  */
html{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: rgb(255,254,252);
    background: linear-gradient(180deg, rgba(255,254,252,1) 0%, rgba(251,240,215,1) 100%);
}

body{
max-width: 1200px;
max-height: 750px;
}

header{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
color: #736648;
margin-left: 10%;
margin-right: 10%;
margin-top: 5%;
margin-bottom: 5%;
}

h1{
    font-family: 'Allura', cursive;
    font-size: 550%;
    font-weight: 300;
    font-kerning: normal;
    margin:0.5%;
}

h2{
    font-family: 'Kanit', sans-serif;
    font-size: 120%;
    font-weight: 200;
    margin: 0.2%;
}

/* .banner{

} */

main{
list-style-type: none;
display: flex;
flex-direction: column;
}

.collage{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;    
}

.flip-image-house{
    background-color: transparent;
    border: 1px solid white;
    width: 564px;
    height: 216px;
    perspective: 1000px;
}

.flip-image-inner{
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
} 

.flip-image:hover .inner-content {
    transform: rotateY('180deg');
}

.flip-image-front, .flip-image-back{
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-image-back{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    color: #736648;
    transform: rotateY('180');
}

.collage #column1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.collage .overalls{

    flex: none;
    order: 0;
    flex-grow: 0;  
}

.collage #column2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 14px;
}

.collage #column2 #row1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
}   

.collage #column2 #row2{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 23px;
}  

.collage .house{
    flex: none;
    order: 0;
    flex-grow: 0;
    }

.collage .squash{
    flex: none;
    order: 0;
    flex-grow: 0;
}

.collage .garden{
    flex: none;
    order: 1;
    flex-grow: 0;
}

.collage #column3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;  
}

.collage .chickens{
    flex: none;
    order: 0;
    flex-grow: 0;
}

footer{
    display: flex;
    justify-content: center;
}

/* }

@media screen and (max-width:899px){
    
} */